# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Asset Store tools
[Aa]ssets/AssetStoreTools*

# IDE
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# macOS
.DS_Store

# Crash reports
sysinfo.txt

# Gradle
.gradle/

# Android / build artifacts
*.apk
*.aab
*.unitypackage

# Unity temporary / backup artifacts
.utmp/
*_BackUpThisFolder_ButDontShipItWithYourGame/
*_BurstDebugInformation_DoNotShip/

# Solution files
*.slnx